root = true

[*]
charset = utf-8
indent_style = space

# Optional:
# * Configuration must be aligned to .eslintrc, .prettierrc ruleset
# * Enable depending on IDE support

# indent_size = 4
# end_of_line = lf
# insert_final_newline = true
# trim_trailing_whitespace = true
